h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 1px;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: #022448;
  margin: 0;
  padding: 20px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 70vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 360px;
  background-color: #ffffff;
  padding: 10px 20px 30px;
  margin-right: 300px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #006c87;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #005165;
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}


.result-scroll-area {
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
  background: #f7f7f7;
  flex-grow: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #444;
}

.status.success {
  background-color: #d4edda;
  color: #155724;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.status.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.certificate-box {
  background: #e9ecef;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}



.result-content {
  white-space: pre-wrap;
  font-size: 14px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
  background: #f1f1f1;
  border-left: 5px solid #007bff;
}

.valid {
  color: green;
  font-weight: bold;
}

.invalid {
  color: red;
  font-weight: bold;
}

.signature-block {
  margin-top: 20px;
  padding: 15px;
  background-color: #eef2f7;
  border-radius: 8px;
  border-left: 4px solid #007bff;
}

.cert-block {
  background-color: #fdfdfd;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-left: 4px solid #28a745;
  border-radius: 5px;
}


.report-section {
  margin-top: 20px;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 12px;
  border: 5px solid #022448;
}

.report-tab {
  background-color: #022448;
  color: white;
  padding: 8px 12px;
  margin: -20px -20px 20px -20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 18px;
}

.simple-block {
  text-align: left;
  padding: 15px;
  border-radius: 6px;
  background-color: #f7faff;
  border-left: 4px solid #007bff;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.6;
}

.simple-error-list {
  padding-left: 20px;
  color: #a94442;
  font-size: 14px;
  margin-top: 8px;
}



.technical-report-section {
  margin-top: 30px;
  background-color: #fff;
  border: 6px solid #022448;
  border-radius: 12px;
  padding: 0px;
  font-size: 14px;
}

.report-tab.tech {
  background-color: #022448;
  color: white;
  padding: 8px 12px;
  margin: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 18px;
}

.technical-scroll-area {
  padding: 20px;
  background-color: #f9f9f9;
}

.tech-sig-block {
  background: #eef1f4;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
  border-left: 4px solid #007bff;
}

.certificate-tech-block {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  border-left: 4px solid #459ffe;
}

.tech-section {
  background-color: #f0f4f8;
  border-left: 4px solid #7ebdff;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
}

h5 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

h6 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}


h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.section-header {
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 130px;
  background-color: #a4a4a4;
  border-radius: 1px;
}

.section-header-revocation {
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-header-revocation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 180px;
  background-color: #a4a4a4;
  border-radius: 1px;
}

.section-header-data {
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-header-data::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50px;
  background-color: #a4a4a4;
  border-radius: 1px;
}

hr {
  margin-top: 30px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #a4a4a4;
}


.small-key {
  font-size: 12px;
  word-break: break-all;
  display: block;
  background: #f0f4f8;
  padding: 6px;
  border-radius: 4px;
  margin-top: 5px;
}


.error-message {
  color: #c0392b;
  background-color: #fceaea;
  padding: 10px;
  border: 1px solid #e0b4b4;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 500;
  text-align: center;
}

.error-message {
  color: #cc0000;
  font-weight: bold;
}

.logo-egoi {
  width: 70px;
  height: 35px;
  margin-top: 20px;
}

.nav-item {
  width: 20%;
}



