<nav class="egoi-navbar d-flex justify-content-between align-items-center px-4">
  <div class="d-flex align-items-center justify-content-between w-100">

    <div class="d-flex align-items-center gap-4">
      <img src="../../images/logo-egoi.svg" alt="Logo E-goi" class="logo" />
      <ul class="egoi-nav list-unstyled d-flex mb-0 gap-3">
        <li><a href="#" class="egoi-link"><i class="bi bi-person-plus"></i><span>Contacts</span></a></li>
        <li><a href="#" class="egoi-link"><i class="bi bi-people"></i><span>Capture</span></a></li>
        <li><a href="#" class="egoi-link"><i class="bi bi-megaphone"></i><span>Communicate</span></a></li>
        <li><a href="#" class="egoi-link"><i class="bi bi-pie-chart"></i><span>Reports</span></a></li>
        <li><a href="#" class="egoi-link"><i class="bi bi-folder"></i><span>Resources</span></a></li>
      </ul>
    </div>

    <div class="d-flex align-items-center gap-3">
      <span class="text-white small">10:29</span>
      <button class="btn btn-sm btn-light text-egoi fw-bold">UPGRADE</button>
      <input type="text" class="form-control form-control-sm search-input" placeholder="Search" />
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="avatar" alt="Avatar" />
    </div>
  </div>
</nav>







<div class="page-wrapper">
  <div class="upload-card">
    <h3 class="mb-3 text-egoi">Upload File</h3>

    <div class="drop_box">
      <h4>Select your file</h4>
      <p>Supported format: PDF</p>

      <input
        #fileInput
        type="file"
        hidden
        accept=".pdf"
        (change)="onFileSelected($event)"
      />

      <button class="btn btn-egoi" (click)="fileInput.click()">Choose File</button>
    </div>

    <p *ngIf="selectedFile" class="selected-file">
      Selected file: {{ selectedFile.name }}
    </p>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button
      class="btn btn-validate"
      [disabled]="loading || !selectedFile"
      (click)="uploadFile()"
    >
      {{ loading ? 'Processing...' : 'Validate Signature' }}
    </button>
  </div>
</div>
