/* You can add global styles to this file, and also import other style files */
.bg-egoi {
  background-color: #00b0e6 !important;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

  